.carousel-indicator {
    width: 0.75rem;
    height: 0.75rem;
    background-color: #9CA3AF;
    border-radius: 9999px;
    margin-right: 0.5rem;
    transition: background-color 0.3s;
}

.carousel-indicator.active {
    background-color: #4F46E5;
}

/* Contenedor de la imagen activa */
.carousel-image {
    transition: transform 0.7s ease-in-out;
    width: 100%;
}