body {
    background-image: url('../assets/wallpaper/pexels-wallpaper.webp'); /* Ruta de tu imagen */
    background-size: cover; /* Cubre toda el área */
    background-position: center center; /* Centra la imagen */
    background-attachment: fixed; /* La imagen no se mueve al hacer scroll */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    min-height: 100vh; /* Asegura que el fondo cubra toda la pantalla */
}
.bebas-neue-regular {
    font-family: "Bebas Neue", serif;
    font-weight: 400;
    font-style: normal;
}